{% extends 'header.html' %} 
{% block title %}
    <title>Animal Slaughter</title>
{% endblock %}
{% block content %}
{% load static %}


<div class="container text-center " >
  <h1 class="p-4 mb-5" style="background-color: lightpink;color: midnightblue;font-family:fantasy,cursive,sans-serif;"><b> Animals Slaughter For Meat</b></h1>       
</div>
<div class="list-group">
    
   
    <a href='{% url "animalslaughter1" %}' class="list-group-item list-group-item-action list-group-item-secondary">Enter country for analysis on meat production</a>
    <a href='{% url "animalslaughter2" %}' class="list-group-item list-group-item-action list-group-item-success">Enter country and type of meat analysis on meat production </a>
    <a href='{% url "animalslaughter3" %}' class="list-group-item list-group-item-action list-group-item-danger">Enter two years and country name analysis on meat production </a>
    <a href='{% url "animalslaughter4" %}' class="list-group-item list-group-item-action list-group-item-warning">Enter three countries and year for analysis on chicken production </a>
    <a href='{% url "animalslaughter5" %}' class="list-group-item list-group-item-action list-group-item-info">Enter year country and meat type for  analysis on meat production </a>
    <a href='{% url "animalslaughter6" %}' class="list-group-item list-group-item-action list-group-item-light">Enter year and meat type   to get max meat production in top 10 countries </a>
    <a href='{% url "animalslaughter7" %}' class="list-group-item list-group-item-action list-group-item-dark">Enter year and meat   to get type in meat production intop 10 countries</a>
    <a href='{% url "animalslaughter8" %}' class="list-group-item list-group-item-action list-group-item-dark">Enter country and two  meat type analysis on meat production </a>
  </div>

{% endblock %}


 

