{% extends 'header.html' %} 
{% block title %}
    <title>Book Appointment</title>
{% endblock %}
{% block content %}
{% load static %}


<body>
    <div class="container mt-2">
        <form class="row" action="" method="POST">
        {% csrf_token %}
       
            <div class="col-md-4" ></div>
            
            <div class="col-md-4 bg-light p-5 shadow p-3 mb-5 bg-body rounded" >
                <center><h5>Please provide following information</h5></center>
           
            <input type="text" placeholder="Name" id="n" class="form-control mb-3" name="nme" style="padding: 20px;" value="{{user.name}}" readonly> 
            <input type="text" placeholder="Email" id="em" class="form-control mb-3" name="mail"  style="padding: 20px;"  value="{{user.email}}" readonly> 
            <input type="text" placeholder="Mobile" id="em" class="form-control mb-3" name="ph"  style="padding: 20px;"  value="{{user.mobile}}" readonly> 
            <input id="datefield" type='date' min='1899-01-01' max='2000-13-13' class="form-control mb-3" style="padding: 20px;" name='date_of_appointment'></input>

            <input type="time" placeholder="Time" name="time" class="form-control mb-3" id="d" style="padding: 20px;">
            
            <small class="agree-text">By Booking this appointment you agree to the</small> <a href="#" class="terms">Terms & Conditions</a> 
                            
                     <center><button class="btn btn-primary btn-block confirm-button" style="margin-top: 10px;  height: 50px;
                        border-radius: 10px">Confirm</button></center>
            </div>
            
            </form>
            </div>
        <div class="col-md-4">
            </div>
            {% if result == True %}
            <div class="alert  alert-success">
                appointment applied sucessfully
            </div>
            {% elif result == False %}
            <div class="alert  alert-success">
                Unsucessfull
            </div>
            {% endif %}

 <script>var today = new Date();
    var dd = today.getDate();
    var mm = today.getMonth()+1; //January is 0!
    var yyyy = today.getFullYear();
     if(dd<10){
            dd='0'+dd
        } 
        if(mm<10){
            mm='0'+mm
        } 
    
    today = yyyy+'-'+mm+'-'+dd;
    document.getElementById("datefield").setAttribute("min", today);
    </script>



</body>
{% endblock %}