{% extends 'header.html' %} 
{% block content %}
{% load static %}  
<body>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div id="testimonial-slider" class="owl-carousel">
                    <div class="testimonial">
                           <div class="card" style=" height:auto;  width: 24rem;">
      <img src={%static "images/AdobeStock_49198787-1024x768.jpeg" %} class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>
                    </div>
                    
                    
                    <div class="testimonial">
                            <div class="card" style=" height:auto;  width: 24rem;">
      <img src={%static "images/AdobeStock_49198787-1024x768.jpeg" %} class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>
                    </div>
                    
                    
                    <div class="testimonial">
                             <div class="card" style=" height:auto;  width: 24rem;">
      <img src={%static "images/AdobeStock_49198787-1024x768.jpeg" %} class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>
                    </div>
                    <div class="testimonial">
                           <div class="card" style=" height:auto;  width: 24rem;">
      <img src={%static "images/AdobeStock_49198787-1024x768.jpeg" %} class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>
                    </div>
             <div class="testimonial">
                              <div class="card" style=" height:auto;  width: 24rem;">
      <img src={%static "images/AdobeStock_49198787-1024x768.jpeg" %} class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
           
           
        
                          
</body>
{% endblock %}