{% load static %}

<html>
<head><title>Register</title>
   <link href="{%static 'css/bootstrap.min.css' %}" rel="stylesheet">
   <link href="{%static 'icofont/icofont.min.css' %}" rel="stylesheet">
   <link href="{%static 'css/stylesheet.css' %}" rel="stylesheet">
   <link href="{%static 'css/font.css' %}" rel="stylesheet">
 
</head>    
    <body>
    <div class="container-fluid bg-light text-dark p-4">
        <div class="container">
        <div class="row">
            <div class="col-md-3">
            
            <h2><img src="835f079d0c150c9b2cd155e8891acc25.png" height="60px" width="60px" p-4>PURESOULS</h2>
                <p>Our organization is founded on the belief that animals are entitled to kind and respectful treatment at the hands of humans and must be protected under the law.Aim is “to provide effective means for the prevention of cruelty to animals throughout the United States.” </p>
                <p><i class='icofont-facebook ms-2 text-lightgray bg-gray rounded p-2'></i>
                
                <i class='icofont-instagram ms-2 text-lightway bg-gray rounded p-2'></i>
               <i class='icofont-twitter ms-2 text-lightgray bg-gray rounded p-2'></i>
                
                </p>
            </div>
            <div class="col-md-3">
            
            <h3><b>Services</b></h3><br/>
                <p>Consult Doctor</p>
                <p>Diagnosis</p>
                <p>Book appointment</p>
                <p>Report Animal Abuse</p>
            
            </div>
            <div class="col-md-3">
            <h3><b>Navigation</b></h3><br/>
                <p><a href="admin/blog.html" style="text-decoration:none;color:#777">Blog</a></p>
                <p><a href="admin/help.html" style="text-decoration:none;color:#777">Help & Support</a></p>
                 <p><a href="admin/review.html" style="text-decoration:none;color:#777">Review & Feedback</a></p>
                <p><a href="contactus.html" style="text-decoration:none;color:#777">Contact Us</a></p>
            </div>
            
            <div class="col-md-3">
            <h3><b>Address</b></h3><br/>
            <p><i class="icofont-location-pin"></i> Ranjit Avenue, Amritsar<br/>
               Sco-9 Burj Punjab</p>
                <p> <i class="icofont-phone"></i> 45673456</p>
            <p><i class="icofont-email"></i> puresouls@gmail.com</p>
            </div>
            </div>
        
        </div>
        
        
        </div>
    
    </body>