<html>
<head><title>DOGGO</title></head>
    <style>
        table,th,td{border: 4px groove black;border-collapse: collapse}
        
    </style>
<body>
<h1 align="center">DOGGO</h1>
<form>
<table align="center" border="2" cellspacing="5" cellpadding="5">
<tr>
<th>first name <font color="red">*<th/>
<td><input type="text" pattern="[A-Z a-z]{3,30}" autofocus autocomplete="off" required name="fn" placeholder="enter your name"/></td>
<th>last name</th>
<td><input type="text"name="ln" placeholder="enter your last name"/></td>
<tr/>

<tr>
<th>email</th>
<td><input type="email"name="em" placeholder="enter your email"/></td>

<th>phone</th>
<td><input type="tel"name="ph"pattern="[0-9]{10}" placeholder="enter your phone num"/></td>
</tr>

<tr>
<th>d.o.b</th>
<td><input type="date"name="dob" placeholder="enter your date of birth"/></td>
<th>image</th>
<td><input type="file"name="im" placeholder="choose file"/></td>
</tr>

<tr>
<th>city</th>
<td><select name="city"><option value="">selectyourcity</option>
<option value="delhi">delhi</option>
<option value="amritsar">amritsar</option>
</select><tb/>



<th>gender</th> 
<td>
<input type="radio" name="gender" value="male">male
<input type="radio" name="gender" value="female">female
</td></tr>

<tr>
<th>address</th>
<td colspan="3"><textarea rows="4" name="add" cols="60"></textarea>
</tr>

<tr>
<th>qualification</th>
<td colspan="3">
<input type="checkbox"name="diploma" value="diploma">diploma
<input type="checkbox"name="degree" value="degree">degree
</td>
</tr>
<tr>
<th>password</th>
<td><input type ="password" name="pwd"></td>
<th>confirm confirm password</th>
<td><input type ="password" name="cpwd"></td>
</tr>

<tr>
<td colspan="4" align="center">
<button type="submit" name="save">register</button>
<table/>
<form/>





<p> <b>dogs are cute </b>.<i>dogs are loyal<i/>.<u>dogs are mans best friend</u>.<q>dogs are happy souls<q/>.<big>dogs love you more than you love them </big></p>
<marquee onmouseover="stop()" direction="up"height="100px" onmouseout="start()">HTML</marquee>
<body/>
<html/>