{% extends 'header.html' %} 
{% block title %}
    <title>Help And Support</title>
{% endblock %}
{% block content %}
{% load static %}
            
       
        <div class="row">
            <div class="col-md-4"></div>
                <div class="col-md-4 mt-5 border p-5 rounded "  style="box-shadow: 0px 0px 10px blue">
                    <h3 class="text center mb-4">Help & Support</h3>
                    <form action="" method="POST">
                    {% csrf_token %}
                        <label for="sub">Enter problem</label>
                        <input type="text" class="form-control mb-3" id="sub" name="subject">
                        <label for="msg">Enter details</label>
                        <textarea rows="5" required class="form-control mb-3" id="msg" name="message"></textarea>
                        <center><input type="submit" class="btn btn-dark" value="send"></center>
                    </form>
                </div>
                <div class="col-md-4"></div>
            </div></div></div>
{% endblock %}