{% extends 'base.html' %} 
{% block title %}
    <title>Home</title>
{% endblock %}
{% block content %}
{% load static %}  
      
    <style>
        
        .h1{font-family: cursive}
         </style>
         </head>     
   <body>
       
     <div class="container-fluid">
    <div class="row" style="background: url({%static 'images/h1_hero.png' %}); padding-top: 100px; padding-bottom: 100px">
       <div class="col-md-1">  </div>
         <div class="col-md-6"> <h1 class="text-#023C5A" style="font-family: 'Fredoka One',cursive; font-size: 100px"   >Saving Animals <br/> Changing lives </h1>
        <p style="font-size:30px ; font-family:'Fredoka One',cursive ">Adopt US <br/> We Need You help.<br/>Adopting  one stray animal wont change your world But it will change the world for that one</p>
            
        </div>
        <div class="col-md-5"> 
        
        </div> </div></div>
       
       
       
       
<div class="container pt-5" >
    <div class="row">
        <div class="col-md-12">
            <div id="testimonial-slider" class="owl-carousel">
                <div class="testimonial">
                       <div class="card" style=" height:auto;  width: 24rem;">
                        <div class="image-hover">
  <img src={%static "images/animaltesting.jpg" %}     class="card-img-top" alt="...">
  </div>
  <div class="card-body">
    <h5 class="card-title">Ban Animal testing</h5>
    
    <p class="card-text">115 million innocent  animals are tortured world wide for animal testing</p>
    <a href="#" class="btn btn-primary">Deep Analysis on Animal Testing</a>
  </div>
</div>
                </div>
                
                
                <div class="testimonial">
                        <div class="card" style=" height:auto;  width: 24rem;">
                          <div class="image-hover">
  <img src={%static "images/animalkilling.jpg" %} class="card-img-top" alt="...">
</div>
  <div class="card-body">
    <h5 class="card-title">Pledge to become vegetarian</h5>
    <p class="card-text">150 Billion innocent animals are killed world wide for food </p>
    <a href="#" class="btn btn-primary">Deep Analysis on Animal Slaughter</a>
  </div>
</div>
                </div>
                
                
                <div class="testimonial">
                         <div class="card" style=" height:auto;  width: 24rem;">
                          <div class="image-hover">
  <img src={%static "images/fishkilling.jpg" %} class="card-img-top" alt="...">
                          </div>
  <div class="card-body">
    <h5 class="card-title">Save Aqua life</h5>
    <p class="card-text">120 billion fishes are killed worldwide for  food</p>
    <a href="#" class="btn btn-primary">Deep Analysis on seafood production</a>
  </div>
</div>
                </div>
                <div class="testimonial">
                       <div class="card" style=" height:auto;  width: 24rem;">
                        <div class="image-hover">
  <img src={%static "images/henkilling.jpg" %} class="card-img-top" alt="...">
                        </div>
  <div class="card-body">
    <h5 class="card-title">Every Life Matter</h5>
    <p class="card-text">50  billion hens are killed worldwide for meat  </p>
    <a href="#" class="btn btn-primary">Deep Analysis on Poultry Production</a>
  </div>
</div>
                </div>
		 
            </div>
        </div>
    </div>
</div>
       
       
       
   
    
      <div class="container-fluid pt-5 pb-5">
       <div class="container">
       <div class="row">
       <div class="col-md-5">
       <video src={%static "images/homevideo.mp4" %} height="450" width="100%" controls ></video>
        
        
           </div>
           <div class="col-md-1"></div>
           <div class="col-md-6">
           <h1  class=" heading" style="font-family: 'Fredoka One',cursive; font-size: 30px;color:#023C5A " ><b>HAPPY ANIMALS IS EQUAL TO HAPPY US</b></h1>
           <p  style="font-size: 20px ; font-weight: 100 ; text-justify: auto;"><b> Don’t treat animals as animals. Treat them as living beings. That’s what they are. Cruelty to creatures is cruelty to creator.All creatures are deserving of a life free from fear and pain.Animals should not require our permission to live on earth. Animals were given the right to be here long before we arrived.</b> </p>
           <p style="font-size: 20px ; font-weight: 100 ; text-justify: auto;"><b>Animals are such agreeable friends they ask no questions and they pass no criticisms. We should always teach our kids to love animals and respect them. Because todays kids are tomorrows future and having respect for animals makes us better humans.</b>  </p>
             

               
           </div>
           
           </div></div></div>
       <div class="container-fluid">
       <div class="row" style="background-image: url({%static 'images/section_bg02.jpg' %}); padding-top: 100px; padding-bottom: 100px">
           <div class="col-md-1"></div>
           <div class="col-md-4">
           <div class="card p-4" style="border-radius: 20px">
  <div class="card-body">
    <i class="icofont icofont-phone icofont-3x p-2 rounded-circle" style="color:#023C5A; background-color: #eee"> </i> 
    <h1  class=" pt-5" style="font-family: 'Fredoka One',cursive; font-size: 40px;color:#023C5A">For Emergency Care Just Call Us</h1>  
      <p ><b>Mon- Fri (9am -10pm)</b></p>
    <p><b>Sat-Sun(12pm-5pm)</b></p>
      <button  class="btn rounded-pill  " style=" background: #FF3E7E;color:white; font-family: DM Sans ,sans-serif; font-size: 20px ">&nbsp;&nbsp;&nbsp;&nbsp;1234567890&nbsp;&nbsp;&nbsp;&nbsp;</button> 
  </div>
</div> </div><div class="col-md-7"></div></div></div>




<!-----------------------------------------------------------------------------search infos-->
<style>
  .find-hospital{
    background:rgb(214, 249, 255);
    padding:4em 15px;
  }
  .find-hospital .row{
    align-items: center;
  }
  .find-hospital i{
    font-size:30px;
  }
  .find-hospital img{
    width:30px;
  }
  .find-hospital ul{
    padding-top:0px;
    margin:0px;
    list-style:none;
  }

  .find-hospital ul li{
    display: flex;
    padding:1em 0.5em;
    border-bottom:1px solid rgba(0,0,0,0.1);
    cursor:pointer;
  }
  .find-hospital ul li:last-child{
    border:none;

  }
  .find-hospital ul span{
    padding-left:1em;
    text-transform:capitalize;
    letter-spacing: 1px;
  }

  .active-ho{
    background:#FF3E7E;
    border:none;
    border-radius:5px;
    border:none;
  }
  .active-ho span{
    color:white;
    font-weight: bold;;
  }
 
 .tab-info > div{
   text-align: center;
   display: none;
 }

 .tab-info > div img{
   width:150px;
 }
 .tab-info > div img + h5{
    font-weight: normal;
    line-height:27px;
    color:gray;
    width:70%;
    margin:0 auto;
 }

 .ho-btn{
  background:#FF3E7E;
  color:white;
  padding:0.6em 2em;
  margin-top:1em;
transition:.5s;
 }
 .ho-btn:hover{

   background:transparent;
   border:2px solid #FF3E7E;;
   color:#FF3E7E;;
 }
</style>
        <div class="container-fluid find-hospital">
          <div class="row">
         <div class="col-md-4 tab-list">
           <ul>
           <li class=''><i class="icofont-doctor-alt"></i><span>you can view nearby doctors</span></li>
           <li><i class="icofont-hospital"></i><span>you can view nearby hospitals</span></li>
           <li><img src=" {%static 'images/ngo.png' %}" ><span>you can view  nearby ngos</span></li>
           <li><i class="icofont-law-order"></i><span>you can view laws on animal abuse under indian Constitution</span></li>
           <li><img src=" {%static 'images/report.png' %}" ><span>you can report animal abuse/torture for strict action</span></li>

           </ul>
         </div>
         <div class="col-md-8 tab-info">
           <div class="doctor-sh">
             <img src=" {%static 'images/dogdoc (1).png' %}">
             <h5>Here you can view doctor nearest to your city.You can view doctor according to their specialization ,  qualification and experience in thier field</h5>
            <a href='{% url "doctors" %}' class='btn ho-btn'> Explore Now!</a>
           </div> 
           <div class="hospital-sh">
            <img src=" {%static 'images/doghos (1).png' %}">
            <h5>Here you can view hospitals nearest to your city.You can view  private as well as goverment hospitals that are open twenty four hours for emergency visit  </h5>
           <a href='{% url "hospital" %}' class='btn ho-btn'> Explore Now!</a>
           </div> 
           <div class="ngo-sh">
            <img src=" {%static 'images/ngopics.png' %}">
            <h5>Here you can view nearby ngo's which are eager to help those who are in need anytime anywhere.Seen injured dog? Dont waste time click now contact</h5>
           <a href='{% url "ngos" %}' class='btn ho-btn'> Explore Now!</a>
           </div> 
           <div class="law-sh">
            <img src=" {%static 'images/lawpic (1).png' %}">
            <h5>Here you can  view laws that are made for protection and safety of animals under indian constitution. This imformation is made specially for younters who accidently or somrtimes intentionally hurt animals</h5>
           <a href='{% url "laws" %}' class='btn ho-btn'> Explore Now!</a>
           </div> 
           <div class="report-sh">
            <img src=" {%static 'images/reportimg.png' %}">
            <h5>Seen someone abusing innocent.Dont leave that inhumane without giving punishment of his crime.Report now for strict actions on him</h5>
           <a href='{% url "report" %}' class='btn ho-btn'> Explore Now!</a>
           </div> 
         </div>
               
          </div>
        </div> 
        
<script>

  var listActive = document.querySelectorAll(".tab-list ul li");
  var contentActive = document.querySelectorAll(".tab-info div");
  var num=0;
  listActive.forEach(function(la){
    la.setAttribute("data",num);
    la.addEventListener("click",function(){
      for(n=0; n<listActive.length; n++){
        if(la.getAttribute("data")==listActive[n].getAttribute("data")){
          listActive[n].classList.add("active-ho");
          contentActive[n].classList.add("d-block");
        }
        else{
          listActive[n].classList.remove("active-ho");
          contentActive[n].classList.remove("d-block");
        }
      }
    });
    num++;
  });
  listActive[0].click();

</script>
            
       
       <div class="container">
    <div class="row">
        <div class="col-md-12">
            <div id="testimonial-slider1" class="owl-carousel">
                <div class="testimonial text-center" style="padding-top: 150px; padding-bottom: 150px;">
                   <img src={%static "images/dummyimage.jpg" %} height="80px" width="80px" class=rounded-circle>
                    <p class="description">
                      THank YOU PureSouls for Your diagnosis feature.It helped me to detect my cat's Feline Infection at very early stage and saved her life. 
                    </p>
                    <h3 class="title">Shreya Arora</h3>
                    
                </div>
                <div class="testimonial text-center" style="padding-top: 150px; padding-bottom: 150px;">
                    <img src={%static "images/dummypic.png" %} height="80px" width="80px" class=rounded-circle>
                    <p class="description">
                      Thank you PureSouls.For saving dogs life of my street.He was badly injured in accident. He might not have survived if Puresouls Team didnt have came on Time.THANK YOU PURESOULS
                    </p>
                    <h3 class="title">User12</h3>
                   
                </div>
		 <div class="testimonial text-center" style="padding-top: 150px; padding-bottom: 150px;">
                   <img src={%static "images/dummypic2.png" %} height="80px" width="80px" class=rounded-circle>
                    <p class="description">
                      stray cow's face in my locality was swelled and was crying due to pain. With the help of diagnosis feature i detected that cow was suffering from disease called BLUE TONGUE that would have taken that cows life.But thank to Puresouls for Immediate help. 
                    </p>
                    <h3 class="title">User231</h3>
                    
                    
                </div>
            </div>
        </div>
    </div>
</div>
<style>
  .hover-bg{
    position: relative;
    z-index: 1;
    top:3em;
  }
  .hover-bg:before{

  content:'';
  position:absolute;
  top:0;
  left:0;
  width:100%;
  height:100%;
  background:black;
  opacity: 0.7;
  z-index: -1;
  }
</style>
<div class='container-fluid'>
<div class="row hover-bg" style="background-image: url({%static 'images/happy1.jpg' %});background-repeat:no-repeat;background-size:cover;background-position:0em -12em;">
  <div class="col-md-1"></div>
  <div class="col-md-10 pt-5 pb-5">
      <center><h1  class=" pt-5 text-white" style="font-family: 'Fredoka One',cursive; font-size: 40px;color:#023C5A  ">Disease Can Take Your Furry Friend Away </h1><br/></center>
      <p class="text-white text-center"  style="font-family: 'Fredoka One',cursive; font-size: 20px ">If Not Treated And Detected At Early Stage . <br/>Noticed Mild Symptoms?<br/>Take A Diagnosis Test Now And Save Your Loved One From Severe Disease. </p><br/>
  <center> <a  href='{% url "Animal_category" %}' class="btn rounded-pill  " style=" background: #FF3E7E;color:white; font-family: DM Sans ,sans-serif; font-size: 20px ">&nbsp;&nbsp;&nbsp;&nbsp;Take Test&nbsp;&nbsp;&nbsp;&nbsp;</a> 
  </div>
  
  </div></div>

       
       
       
       <div class="container-fluid">
       <div class="row" style="background-image: url({%static 'images/section_bg03.webp' %})">
       <div class="col-md-1"></div>
       <div class="col-md-10 pt-5 pb-5">
           <center><h1  class=" pt-5 text-white" style="font-family: 'Fredoka One',cursive; font-size: 40px;color:#023C5A  ">We Are Looking For Helping Hand</h1><br/></center>
           <p class="text-white text-center"  style="font-family: 'Fredoka One',cursive; font-size: 20px ">you can work with us . <br/>you can also feed these animals and help those who cant help themselves. </p><br/>
       <center> <a  href='{% url "contactus" %}' class="btn rounded-pill  " style=" background: #FF3E7E;color:white; font-family: DM Sans ,sans-serif; font-size: 20px ">&nbsp;&nbsp;&nbsp;&nbsp;Contact Us&nbsp;&nbsp;&nbsp;&nbsp;</a> 
        
       
       </div></div></div>
       
        
    
        
<script src="js/aos.js"></script>
  <script>
    AOS.init({
    	duration:1000
    });

  </script>	
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js" integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf" crossorigin="anonymous"></script>
       <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.1/dist/umd/popper.min.js" integrity="sha384-SR1sx49pcuLnqZUnnPwx6FCym0wLsk5JZuNx2bPPENzswTNFaQU1RDvt3wT4gWFG" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.min.js" integrity="sha384-j0CNLUeiqtyaRmlzUHCPZ+Gy5fQu0dQ6eZ/xAww941Ai1SxSY+0EQqNXNE6DZiVc" crossorigin="anonymous"></script>
<script src="js/bootstrap.bundle.js"></script>
       
       <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.js"></script>
<script src="js/test-slider-fullwidth.js"></script>
       <script type="text/javascript" src="https://code.jquery.com/jquery-1.12.0.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/owl-carousel/1.3.3/owl.carousel.min.js"></script>
 <script>
$(document).ready(function(){
    $("#testimonial-slider").owlCarousel({
        items:3,
        itemsDesktop:[800,2],
        itemsDesktopSmall:[990,1],
        itemsTablet:[768,1],
        pagination:true,
        navigation:false,
        navigationText:["",""],
        slideSpeed:1000,
        autoPlay:true
    });
});
</script>
       
       
       <script>
$(document).ready(function(){
    $("#testimonial-slider1").owlCarousel({
        items:1,
        itemsDesktop:[800,2],
        itemsDesktopSmall:[990,1],
        itemsTablet:[768,1],
        pagination:true,
        navigation:false,
        navigationText:["",""],
        slideSpeed:1000,
        autoPlay:true
    });
});
</script>
        </body>
         

      {% endblock %}