{% extends 'base.html' %} 
{% block title %}
    <title>Login</title>
{% endblock %}
{% load static %}
{% block content %}

 
</head>    
 <body>
     <div class="container-fluid banner" style="background-image: url({%static 'images/banner-bg.jpg' %})">
         
         <div class="row">
             <div class="col-md-12 text-center banner-color">
                 <h1 class="h">Login</h1>
                 <h3 class="hi">Home | Login</h3>
             </div> </div>
             
     </div>
    <div class="container mt-2">
        <form class="row" action="" method="POST">
            {% if formpost %}
            Invalid details or your account is not active yet
            {% endif %}
            {% csrf_token %}>
                <div class="col-md-4" ></div>
                <div class="col-md-4  p-5 bg-light shadow p-3 mb-5 bg-body rounded"> 
            
                <input type="text" placeholder="Enter your email" id="em"  name="mail" class="form-control mb-3"> 
                  <input type="password"  placeholder="Enter your password"required class="form-control mb-3" id="new" name="npwd">
<p><a href="{% url 'forgotpassword' %}">Forgot Password ?</a></p>
                         <center><input type="submit" class="btn btn-dark" value="submit"></center>
                    <p><a href="{% url 'register' %}">Don't have an Account ?</a></p>
                </div>
                
                </form>
                </div>
            <div class="col-md-4">
                </div>
        
    
            
     
     <script src="{%static 'js/bootstrap.bundle.min.js' %}"></script>
 </body>   

{% endblock %}