{% extends 'header.html' %} 
{% block title %}
    <title>Ngos detail</title>
{% endblock %
{% block content %}
{% load static %}

<style>
    .ngo-list{
       
        background:rgb(70,70,170);
        padding:1em 2em;
        margin:0;
    }
    .ngo-list li {
        padding:0.8em;
        color:white;
        text-transform:uppercase;
        border-bottom:1px solid white;
    }
    .ngo-list li:last-child{
        border:none;
    }
    .ngo-list li a{
        color:white;
    }
    .ngo-data{
        background:white;
        padding:2em;
    }
    .ngo-data h5{
        font-weight: bold;
        text-transform: capitalize;
        font-size:25px;
        padding-bottom: 0.5em;

    }
    .ngo-data p + h6{
        background-color: rgb(255, 243, 211);
        padding:0.5em;
    }
    .ngo-data h6, .hospital-data p{
        padding:0.5em;
    }
    .ngo-data p{
        padding-top:0.8em;
        margin:0;
    }
    .ngo-data small{
        padding-left:0.5em;
        text-transform: uppercase;
        letter-spacing: 1px;
        color:darkgray;
    }
    .ngo-img{
        max-height:250px;
        overflow: hidden;
        
    }
    .ngo-img img{
        width:100%;
        position: relative;
        top:-2em;
    }
    
</style>
    <div class='container'>
            <div class='row' style='justify-content:space-around'>
                <div class='col-md-5'>

                    <div class='ngo-data border'>
                        <h5>PureSouls</h5>
                        <div class='ngo-img'>
                        <img src="../static/images/dog.png">
                    </div>
                        
                        <h6><i class='icofont icofont-paw'></i> As you read this, another innocent animal is being abused, neglected or forced to fight. </h6>
                        <h6><i class='icofont icofont-phone'></i> +91 012 345 6789</h6>
                        <h6><i class='icofont icofont-paw'></i> website.com</h6>
                        
                        <small><i class='icofont icofont-wall-clock'></i> Working Hour: 24*7 Days</small>
                    </div>
                </div>
                <div class='col-md-4'>
                  <center>  <h3 style="font-family: 'Fredoka One',cursive; font-size: 40px; margin-bottom: 5px;">List of NGO'S </h3></center>
                    <ol class='ngo-list'><li><a href='#'>PureSouls</a></li><li><a href='#'>Speech For Speechless</a></li><li><a href='#'>Helping Hands</a></li><li><a href='#'>Hands For Paws</a></li><li><a href='#'>Listening Creatures</a></li>
                    </ol>

                </div>

                
            </div>
{% endblock %}