{% extends 'base.html' %} 
{% block title %}
    <title>Register</title>
{% endblock %}
{% block content %}
{% load static %}  
 <body>
     <div class="container-fluid banner" style="background-image: url({%static 'images/banner-bg.jpg' %})">
         
         <div class="row">
             <div class="col-md-12 text-center banner-color">
                 <h1 class="h">REGISTER</h1>
                 <h3 class="hi">Home | Register</h3>
             </div> </div>
             
     </div>
    <div class="container mt-2">
            <form class="row" action="" method="POST">
            {% csrf_token %}
                <div class="col-md-4" ></div>
                <div class="col-md-4 bg-light p-5 shadow p-3 mb-5 bg-body rounded" >
               
                <input type="text" placeholder="Enter your name" id="n" class="form-control mb-3" name="nme"> 
                <input type="text" placeholder="Enter your email" id="em" class="form-control mb-3" name="mail"> 
                  <input type="password"  placeholder="Enter your password"required class="form-control mb-3" id=""new name="npwd">
                     <input type="password" placeholder="confirm password" required class="form-control mb-3" id="cpw" name="cpwd">
                                      <p><a href="{% url 'login' %}">Already have an Account ?</a></p>
                         <center><input type="submit" class="btn btn-dark" value="Register"></center>
                </div>
                
                </form>
                </div>

            <div class="col-md-4">
                </div>
      

            {% if result == True %}
            <div class="alert  alert-success">
                Registeration Successfull
            </div>
            {% elif result == False %}
            <div class="alert  alert-success">
                Registeration Unsucessfull
            </div>
            {% endif %}
            
     
     <script src="{%static 'js/bootstrap.bundle.min.js' %}"></script>
 </body>   
</html>
{% endblock %}
