{% extends 'header.html' %} 
{% block title %}
    <title>seafood</title>
{% endblock %}
{% block content %}
{% load static %}

<div class="container a text-center mt-5 p-5"> 
    <form action="" method="POST">
    {% csrf_token %}
      <label for="year">SELECT THE YEAR:</label>
  
      <select name="year" id="year">
        <option value="2005">2005</option>
        <option value="2006">2006</option>
        <option value="2007">2007</option>
        <option value="2008">2008</option>
      </select>
    
      <label for="fishtype">SELECT Fish Type:</label>
    
        <select name="fishtype" id="fishtype">
          <option value="freshwater fish">freshwater fish</option>
          <option value="freshwater fish">freshwater fish</option>
          <option value="freshwater fish">freshwater fish</option>
          <option value="freshwater fish">freshwater fish</option>
          
        </select>
      <button class=" submit n">Enter</button></div>
  </form>
 
{% endblock %}