{% extends 'header.html' %} 
{% block title %}
    <title>seafood</title>
{% endblock %}
{% block content %}
{% load static %}

<div class="container a text-center mt-5 p-5"> 
    <form action="" method="POST">
      {% csrf_token %}
        <label for="country1">SELECT COUNTRY :</label>
    
        <select name="country1" id="country1">
          <option value="Afghanistan">Afghanistan</option>
          <option value="Albania">Albania</option>
          <option value="Algeria">Algeria</option>
          <option value="American Samoa">American Samoa</option>
         
        </select>
      </br>
        <label for="fishtype">SELECT Fish Type:</label>
    
        <select name="fishtype" id="fishtype">
          <option value="freshwater fish">freshwater fish</option>
          <option value="freshwater fish">freshwater fish</option>
          <option value="freshwater fish">freshwater fish</option>
          <option value="freshwater fish">freshwater fish</option>
          
        </select>
      </br>
        
      </br></br>  
        <button class=" submit n">Enter</button></div>
    </form> 

{% endblock %}